/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		line-height: 1.75em;
		font-size: 10.75pt;
	}

	h2
	{
		font-size: 1.75em;
	}
	
	h3
	{
		font-size: 1.1em;
	}
	
	/* List */
	
		ul.style2
		{
		}
		
			ul.style2 li
			{
				line-height: 2.25em;
			}

	/* Button */

		input[type="button"],
		input[type="submit"],
		input[type="reset"],
		.button
		{
			font-size: 1.25em;
			padding: 0.85em 1.5em;
		}

			input[type="button"].big,
			input[type="submit"].big,
			input[type="reset"].big,
			.button.big
			{
				font-size: 2em;
				padding: 0.85em 1em 0.85em 1em;
			}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding: 2em 0 0 0;
	}
	
	#features-wrapper
	{
		padding: 1.75em 0 1.75em 0;
	}
	
	#main-wrapper
	{
		padding: 0 0 4em 0;
	}
	
	#footer-wrapper
	{
		padding: 4em 0 6em 0;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
	}

		#logo h1
		{
			margin-top: 0.15em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	.dropotron
	{
	}
	
		.dropotron.level-0
		{
			font-size: 0.9em;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		padding: 4em;
	}

		#banner h2
		{
			font-size: 3em;
			margin: 0.2em 0 0.5em 0;
		}

		#banner p
		{
			font-size: 2.25em;
		}
		
/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#copyright
	{
		padding: 2em 0 0 0;
	}
