.about-page .main-banner{
	height: 349px;
	overflow: hidden;
}

.about-page{
	position: relative;
	background: #fff;
	padding-bottom: 150px;
}

.about-wrap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.about-wrap h1{
	text-align: center;
	font-size: 80px;
	color: #d3dee0;
}

.about-page h3{
	font-family: Museo_Slab_Title;
	margin: 50px 0 0 0;
	line-height: 30px;
}

.about-page p{
	font-size: 16px;
	line-height: 25px;
	margin-top: 10px;
	margin-bottom: 30px;
	color: #7e7e7e;
	padding-right: 30px;
}

.about-page .team-block{
	margin-top: 50px;
}

.about-page .team-block h1{
	text-align: center;
	margin-bottom: 50px;
}

.about-page .avator{
	text-align: center;
}

.about-page .team-name{
	margin: 40px 0 10px 0;
	color: #3c3c3c;
}

.about-page .team-title{
	font-family: GothamBookItalic;
	margin-bottom: 10px;
}

.about-page p.team-description{
	padding: 0 5px 0 5px;
}

.about-page .big-head{
	width: 150px;
	text-align: center;
}

.about-page .big-head.danny{
	width: 131px;
}

.about-page .big-head.john{
	width: 131px;
}

.about-page .team-list{
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.about-page .team-list li{
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	margin-top: 50px;
}

.about-page .team-list li:last-child{
	margin-right: 0;
}