.case-study-page .main-banner{
	height: 725px;
	overflow: hidden;
	position: relative;
}

.case-study-page{
	position: relative;
	background: #f3f3f3;
}

.case-study-wrap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.case-study-wrap h1{
	text-align: center;
	font-size: 80px;
	color: #ffffff;
}

.case-study-wrap .show-room{
	position: relative;
}

.case-study-wrap .show-room .imac-show{
	position: absolute;
	z-index: 1;
	width: 509px;
	height: 411px;
	display: block;
	background: url("../images/work/imac-frame.png") no-repeat;
	top: 165px;
}

.case-study-wrap .show-room .imac-show .imac-viewport{
	width: 471px;
	height: 263px;
	overflow: hidden;
	top: 28px;
	left: 18px;
	position: absolute;
}

.case-study-wrap .show-room .iphone-show{
	position: absolute;
	z-index: 3;
	width: 125px;
	height: 264px;
	display: block;
	overflow: hidden;
	background: url("../images/work/iphone-frame.png") no-repeat;
	top: 316px;
	left: 30px;
}

.case-study-wrap .show-room .iphone-show .iphone-viewport{
	width: 108px;
	height: 192px;
	overflow: hidden;
	top: 33px;
	left: 9px;
	position: absolute;
}

.case-study-wrap .show-room .white-iphone-show{
	position: absolute;
	z-index: 3;
	width: 301px;
	height: 632px;
	display: block;
	overflow: hidden;
	background: url("../images/work/white-iphone-frame.png") no-repeat;
}

.case-study-wrap .show-room .white-iphone-show.white-iphone1{
	top: 170px;
	right: 30px;
	z-index: 2;
}

.case-study-wrap .show-room .white-iphone-show.white-iphone2{
	top: 270px;
	left: 0;
	z-index: 1;
}

.case-study-wrap .show-room .white-iphone-show .white-iphone-viewport1{
	width: 248px;
	height: 472px;
	overflow: hidden;
	top: 83px;
	left: 29px;
	position: absolute;
}

.case-study-wrap .show-room .white-iphone-show .white-iphone-viewport2{
	width: 248px;
	height: 371px;
	overflow: hidden;
	top: 83px;
	left: 29px;
	position: absolute;
}

.case-study-page .main-content{
	min-height: 800px;
	background: #fff;
}

.case-study-wrap .show-description{
	padding-top: 168px;
	padding-left: 50px;
}

.case-study-page h1{
	font-size: 54px;
	padding: 0;
	font-family: GothamXtraLight;
	text-align: left;
	margin: 20px 0 33px 0;
}

.case-study-page h3{
	color: #fff;
	font-size: 28px;
	font-family: Museo_Slab_Title;
	line-height: 40px;
}

.case-study-page h3.pink{
	color: #d83a50;
}

.case-study-page.politix-study p{
	color: #2e2e2e;
	font-size: 16px;
}

.case-study-page.cottonon-study p{
	color: #ffffff;
	font-size: 16px;
	margin: 20px 0;
}

.case-study-page .show-options{
	width: 100%;
	margin: 0;
	padding: 0;
}

.case-study-page .show-options li{
	display: inline-block;
	list-style: none;
	margin-right: 30px;
}

.case-study-page .show-options li a.shopping-cart-option{
	width: 42px;
	height: 40px;
	display: block;
	background: url("../images/work/shopping-cart.png") no-repeat;
}

.case-study-page .show-options li a.app-option{
	width: 23px;
	height: 39px;
	display: block;
	background: url("../images/work/mobile-download.png") no-repeat;
}

.case-study-page .main-content{
	padding-top: 55px;
	position: relative;
}

.case-study-page h4{
	font-size: 24px;
	font-family: Museo_Slab_Title;
	color: #3c3c3c;
	margin-top: 40px;
}

.case-study-page .main-content p{
	font-size: 14px;
	color: #7e7e7e;
	margin-top: 20px;
}

.case-study-page .main-content ul{
	padding: 0;
	margin: 20px 0 0 20px;
}

.case-study-page .main-content ul li{
	font-size: 14px;
	color: #7e7e7e;
	margin-bottom: 5px;
	font-family: GothamBook;
}

.case-study-page .phone-in-hand{
	display: block;
	width: 632px;
	height: 691px;
	background: url("../images/work/phone-in-hand.png") no-repeat;
	background-size: 100%;
	position: absolute;
	right: 0;
	top: -60px;
}

.case-study-page .gallery{
	position: relative;

	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}

.case-study-page .gallery img{
	width: 290px;
	position: absolute;
	top: 41px;
	left: 35px;
	display: none;
}

.case-study-page .share-case{
	display: block;
	font-size: 18px;
	font-family: Museo_Slab_Title;
	padding-left: 40px;
	margin-top: 50px;
}

.case-study-page .share-case.politix-share{
	color: #50b1bc;
	background: url("../images/work/share-icon.png") no-repeat;
}

.case-study-page .share-case.cottonon-share{
	color: #d83a50;
	background: url("../images/work/share-icon2.png") no-repeat;
}

.case-study-page .case-bottom{
	height: 900px;
	margin-top: 100px;
}
.case-study-page .case-bottom.politix-bottom{
	background: #4eb0bb;
}
.case-study-page .case-bottom.cottonon-bottom{
	background: #d83a50;
	height: 1100px;
}

.case-study-page .case-bottom .case-screenshots{
	position: relative;
}

.case-study-page .case-bottom .case-screenshots .politix-case-screenshot{
	position: absolute;
	width: 600px;
}

.case-study-page .case-bottom .case-screenshots .politix-case-screenshot#politix-screenshot1{
	z-index: 2;
	left: 0;
	top: -70px;
	box-shadow: 25px 15px 1px 1px rgba(0,0,0,0.6);
}	

.case-study-page .case-bottom .case-screenshots .politix-case-screenshot#politix-screenshot2{
	z-index: 1;
	right: 0;
	top: -30px;
}

.case-study-page .case-bottom .case-screenshots .cottonon-case-screenshot{
	position: absolute;
	width: 890px;
}

.case-study-page .case-bottom .case-screenshots .cottonon-case-screenshot#cottonon-screenshot1{
	z-index: 2;
	left: 0;
	right: 0;
	margin: auto;
	top: -100px;
}	

.case-study-page .case-bottom .case-screenshots .cottonon-case-screenshot#cottonon-screenshot2{
	z-index: 1;
	right: 0;
	top: 160px;
}		

