.contact-page .main-banner{
	height: 349px;
	overflow: hidden;
}

.contact-page{
	position: relative;
	background: #f3f3f3;
	padding-bottom: 50px;
}

.contact-wrap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.contact-wrap h1{
	text-align: center;
	font-size: 80px;
	color: #ffffff;
}

.contact-page h2{
	margin-bottom: 30px;
}

.contact-block{
	padding: 60px 0 60px 0;
}

#google-map{
	height: 370px;
	background: #fff;
}

.contact-block p{
	font-size: 16px;
	color: #656565;
	line-height: 20px;
	margin: 0;
}

.contact-way.phone{
	margin-top: 30px;
	display: block;
	color: #656565;
	background: url("../images/phone-icon.png") no-repeat;
	padding-left: 40px;
	background-position: 0 50%;
}

.contact-way.email{
	margin-top: 10px;
	margin-bottom: 100px;
	display: block;
	color: #656565;
	background: url("../images/email-icon.png") no-repeat;
	padding-left: 40px;
	background-position: 0 50%;
}

.contact-email{
	width: 340px;
	float: left;
}

.contact-email-btn{
	width: 60px;
	height: 50px;
	background: url("../images/email-btn.png") no-repeat;
	display: block;
	float: left;
	box-shadow: none;
}

.contact-email-btn:hover{
	box-shadow: 1px 0px 5px 1px #999;
}

.contact-page .right-block{
	border-left: 1px solid #c6c6c6;
	padding-left: 100px;
}

.contact-form input,
.contact-form textarea{
	width: 100%;
	margin-bottom: 20px;
}