.email-page .main-banner{
	height: 868px;
	overflow: hidden;
}

.email-page{
	position: relative;
	background: #f3f3f3;
}

.email-wrap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.email-wrap h1{
	text-align: center;
	font-size: 50px;
	color: #ffffff;
	margin-top: 320px;
}

.email-divider{
	width: 30%;
	margin: 50px auto;
	background: #fff;
	height: 1px;
	display: block;
}

.email-wrap h2{
	text-align: center;
	color: #ffffff;
	font-family: Museo_Slab_Title_Light;
	letter-spacing: 1px;
}

