*:focus {
    outline: 0;
}

.custom-buttom{
	font-family: GothamMedium;
	font-size: 18px;
	text-align: center;
	padding: 20px 40px 20px 40px;
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 2px;
}

.white{
	color: #fff;
	border: 2px solid #fff;
}

.white:hover{
	color: #fff;
}

.blue-button{
	color: #fff;
	background: #4eb0bb;
	border: none;
	font-family: GothamBold;
	padding: 15px 40px;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	width: 100%;
	display: block;
}

input[type="text"]{
	height: 50px;
	border: none;
	box-shadow: none;
	background: #fff;
	padding: 5px 15px;
	font-family: GothamBookLight;
	font-size: 14px;
	display: block;
}

textarea{
	height: 150px;
	border: none;
	box-shadow: none;
	background: #fff;
	padding: 5px;
	font-family: GothamBookLight;
	font-size: 14px;
	display: block;
	resize: none;
}

@media (max-width: 768px) {
	input[type="text"]{
		margin-left: 110px;
	}
}

@media (max-width: 480px) {
	input[type="text"]{
		margin-left: 10%;
	}
}