@font-face
{
	font-family: GothamMedium;
	src: url(../font/GothamMedium.otf);
}

@font-face
{
	font-family: GothamBook;
	src: url(../font/GothamBook.otf);
}

@font-face
{
	font-family: GothamBookItalic;
	src: url(../font/GothamBook-Italic.otf);
}

@font-face
{
	font-family: GothamBold;
	src: url(../font/GothamBold.otf);
}

@font-face
{
	font-family: GothamBookLight;
	src: url(../font/GothamLight.otf);
}

@font-face
{
	font-family: GothamXtraLight;
	src: url(../font/Gotham-XLight.otf);
}

@font-face
{
	font-family: Museo_Slab_Title_Light;
	src: url(../font/Museo_Slab_100.otf);
}

@font-face
{
	font-family: Museo_Slab_Title;
	src: url(../font/Museo_Slab_300.otf);
}

@font-face
{
	font-family: Museo_Slab_Title_italic;
	src: url(../font/Museo_Slab_300italic.otf);
}

@font-face
{
	font-family: Museo_Slab_Service_italic;
	src: url(../font/Museo_Slab_500italic.otf);
}

@font-face
{
	font-family: Museo_Slab_Case_Title;
	src: url(../font/Museo_Slab_500.otf);
}

/* General */
html,body{
	padding: 0;
	margin: 0;
	display: block;
	min-height: 100%;
	background: #F4F4F4;
	overflow-x: hidden;
	position: relative;
}

a{
	cursor: pointer;
}

a:hover{
	text-decoration: none;
	color: #3c3c3c;
}

img{
	width: 100%;
}

h1{
	font-size: 48px;
	color: #4eb0bb;
	padding: 0;
	margin: 0;
	font-family: Museo_Slab_Title;
}

h2{
	font-size: 28px;
	color: #3c3c3c;
	padding: 0;
	margin: 0;
	font-family: Museo_Slab_Title;
}

h3{
	font-size: 24px;
	color: #3c3c3c;
	padding: 0;
	margin: 0;
	font-family: Museo_Slab_Case_Title;
}

h4{
	font-size: 20px;
	color: #3c3c3c;
	padding: 0;
	margin: 0;
	font-family: Museo_Slab_Title;
}

h5{
	font-size: 20px;
	color: #4eb0bb;
	padding: 0;
	margin: 0;
	font-family: Museo_Slab_Title;
}

p{
	color: #fff;
	font-size: 18px;
	font-family: GothamBook;
	line-height: 30px;
}

.hide-element{
	display: none !important;
}

.imageWrap{
	text-align: center;
	position: relative;
}

.email-link{
	color: #4eb0bb;
	font-size: 16px;
	font-family: GothamBookItalic;
}

.email-link:hover{
	color: #4eb0bb;
	text-decoration: underline;
}

.dark-green{
	color: #99c9cd !important;
}

.light-green{
	color: #acdadf !important;
}

.mobile-carousel{
	display: none;
}

.desktop-carousel{
	display: block;
}

/* Header */
.header-logo{
	width: 206px;
	height: 31px;
	display: block;
/*	background: url("../images/arkade-logo-white.png") no-repeat; */
	margin-top: 30px;
	background-size: 100% 100%;
}

.header-logo-colorful{
	width: 206px;
	height: 31px;
	display: none;
	background: url("../images/abhaykhot-logo.png") no-repeat;
	margin-top: 30px;
	z-index: 9;
	position: absolute;
	left: 15px;
	background-size: 100% 100%;
}

.navbar{
	position: fixed;
	height: 85px;
	background: none;
	border: none;
	box-shadow: none;
	overflow: hidden;

	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
}

.navbar.showmenu{
	height: 290px;
	background: rgba(78,175,186,0.9);
}

.menu-shade{
	position: absolute;
	width: 100%;
	height: 80px;
	background: transparent;

	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

#main-nav{
	display: block;
	padding: 0;
	margin: 30px 0 0 0;
}

.social-icons li{
	list-style: none;
	display: inline-block;
}

#main-nav li{
	display: inline-block;
	list-style: none;
	position: relative;
}

#main-nav li:first-child{
	margin-left: 200px;
}

#main-nav li a{
	color: #fff;
	font-size: 16px;
	height: 31px;
	line-height: 31px;
	margin-right: 55px;
	font-family: GothamMedium;
	letter-spacing: 2px;
}

#main-nav li:last-child a{
	margin-right: 0;
}

#main-nav li a.new-menu{
	color: #3c3c3c;
}

#main-nav li a:hover{
	color: #4eb0bb;
}

#main-nav .sub-nav{
	height: 0;
	position: absolute;
	top: 60px;
	left: -40px;
}

#main-nav .sub-nav li{
	width: 200px;
}

#main-nav .sub-nav li:first-child{
	margin-left: 0;
}

#main-nav .sub-nav li a{
	font-family: Museo_Slab_Title;
	font-size: 15px;
}

.menu-trigger{
	height: 60px;
}

#main-nav li a.active-link{
	color: #4eb0bb;
}

/* Main Banner */
.banner-wrap{
	height: 678px;
	width: 100%;
	position: relative;
}

.main-banner-image{
	width: 100%;
	min-height: 678px;
	max-height: 1200px;
}

.main-banner .banner-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
}

.main-banner h1{
	margin-top: 222px;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.main-banner p{
	margin-top: 42px;
	margin-bottom: 44px;
}

/* Cases */
.cases{
	background: #80C451;
	height: 555px;
	display: block;
	text-align: center;
	position: relative;
}

.imac{
	width: 288px;
	height: 232px;
	position: relative;
	margin: 0 auto;
	margin-top: 21px;
	display: block;
}

.imac.review{
	background: url("../images/home_cases/15_Review-BridalBooking.png") no-repeat;
	background-size: 100% 100%;
}

.imac.mimco{
	background: url("../images/home_cases/5_MimcoLoyalty.png") no-repeat;
	background-size: 100% 100%;
}

.imac.tonybianco2{
	background: url("../images/home_cases/18_TonyBianco-Loyalty.png") no-repeat;
	background-size: 100% 100%;
}

.imac.metalicus{
	background: url("../images/home_cases/12_Metalicus-StylingWorkshops.png") no-repeat;
	background-size: 100% 100%;
}

.imac.redken{
	background: url("../images/home_cases/13_Redken-AccessRedken.png") no-repeat;
	background-size: 100% 100%;
}

.imac.mmc{
	background: url("../images/home_cases/20_MelbMiningClub-Booking.png") no-repeat;
	background-size: 100% 100%;
}

.imac.acs{
	background: url("../images/home_cases/22_AustralianSuperfine-Web.png") no-repeat;
	background-size: 100% 100%;
}

.imac.omneo{
	background: url("../images/home_cases/24_Omneo-Web.png") no-repeat;
	background-size: 100% 100%;
}

.iphone-imac{
	width: 299px;
	height: 248px;
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	display: block;
}

.iphone-imac.review{
	width: 281px;
	height: 233px;
	margin-top: 22px;
	background: url("../images/home_cases/1_Review_Web.png") no-repeat;
	background-size: 100% 100%;
}

.iphone-imac.politix{
	width: 281px;
	height: 233px;
	margin-top: 22px;
	background: url("../images/home_cases/2_Politix_Web.png") no-repeat;
	background-size: 100% 100%;
}

.iphone-imac.loreal{
	width: 281px;
	height: 233px;
	margin-top: 22px;
	background: url("../images/home_cases/7_SalonLocator.png") no-repeat;
	background-size: 100% 100%;
}

.iphone-imac.tonybianco{
	width: 281px;
	height: 233px;
	margin-top: 22px;
	background: url("../images/home_cases/9_TonyBianco-Web.png") no-repeat;
	background-size: 100% 100%;
}

.iphone-imac.politix2{
	width: 281px;
	height: 233px;
	margin-top: 22px;
	background: url("../images/home_cases/10_Politix-BlackTie.png") no-repeat;
	background-size: 100% 100%;
}

.iphone-imac.witchery{
	width: 281px;
	height: 233px;
	margin-top: 22px;
	background: url("../images/home_cases/16_WitcheryLoyaltyg.png") no-repeat;
	background-size: 100% 100%;
}

.iphone-imac.t2{
	width: 281px;
	height: 233px;
	margin-top: 22px;
	background: url("../images/home_cases/17_T2-Web.png") no-repeat;
	background-size: 100% 100%;
}

.iphone-imac.meganpark{
	width: 281px;
	height: 233px;
	margin-top: 22px;
	background: url("../images/home_cases/19_MeganPark-Web.png") no-repeat;
	background-size: 100% 100%;
}

.iphone-imac.metalicus{
	width: 281px;
	height: 233px;
	margin-top: 22px;
	background: url("../images/home_cases/21_Metalicus-Web.png") no-repeat;
	background-size: 100% 100%;
}

.iphone{
	width: 189px;
	height: 253px;
	position: relative;
	margin: 0 auto;
	margin-top: 0;
	display: block;
}

.iphone.cotton-on{
	background: url("../images/home_cases/4_CottonOn.png") no-repeat;
	background-size: 100% 100%;
}

.iphone.witchery{
	background: url("../images/home_cases/6_Witchery-iPhone.png") no-repeat;
	background-size: 100% 100%;
}

.iphone.skilled{
	background: url("../images/home_cases/8_Skilled.png") no-repeat;
	background-size: 100% 100%;
}

.iphone.redken{
	background: url("../images/home_cases/11_Redken-Splashlights.png") no-repeat;
	background-size: 100% 100%;
}

.iphone.tonybianco{
	background: url("../images/home_cases/14_TonyBianco-LoyaltyApp.png") no-repeat;
	background-size: 100% 100%;
}

.iphone.coregas{
	background: url("../images/home_cases/23_CoreGas-App.png") no-repeat;
	background-size: 100% 100%;
}

.ipad{
	width: 266px;
	height: 203px;
	background: url("../images/home_cases/3_Neupro.png") no-repeat;
	background-size: 100% 100%;
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	display: block;
}

.cases h3{
	margin-top: 50px;
	margin-bottom: 18px;
}

.cases p{
	color: #7e7e7e;
	line-height: 25px;
	font-size: 16px;
	margin-bottom: 30px;
	margin-top: 0;
}

.project-block{
	position: relative;
	height: 590px;
}

.view-project{
	font-family: GothamMedium;
	font-size: 18px;
	text-align: center;
	color: #4eb0bb;
	background: url("../images/view-project-indicator.png") no-repeat;
	background-position: 67% 50%;
	padding-right: 25px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.nav-control{
	position: absolute;
	width: 55px;
	height: 55px;
	display: block;
}

.left-arrow{
	top: 70px;
	left: -80px;
	background: url("../images/nav-left-sprite.png") 0 0 no-repeat;
}

.left-arrow:hover,
.left-arrow:active{
	background: url("../images/nav-left-sprite.png") 0 -55px no-repeat;
}

.right-arrow{
	top: 70px;
	right: -80px;
	background: url("../images/nav-right-sprite.png") 0 0 no-repeat;
}

.right-arrow:hover,
.right-arrow:active{
	background: url("../images/nav-right-sprite.png") 0 -55px no-repeat;
}

h3.platform-caption{
	color: #3c3c3c;
	font-size: 16px;
	margin: 0;
}

/* About Us */
.about{
	min-height: 578px;
	background: #f7f7f7;
	text-align: center;
	padding-bottom: 80px;
}

.about h1{
	margin-top: 75px;
}

.about h3{
	margin-top: 50px;
	margin-bottom: 18px;
}

.about .imageWrap{
	height: 130px;
	margin-top: 70px;
	overflow: auto;
}

.handshake{
	width: 146px;
	margin-top: 20px;
}

.growth{
	width: 114px;
}

.process{
	width: 122px;
}

.about p{
	color: #808080;
	line-height: 25px;
	font-size: 16px;
	width: 310px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.about .about-intro{
	padding: 50px 0;
}

.about .about-intro p{
	width: 100%;
	font-family: Museo_Slab_Title_Light;
	font-size: 21px;
	line-height: 35px;
	color: #808080;
}

.about .about-divider{
	width: 100%;
	height: 1px;
	background: #4eb0bb;
}

/* Approach */
.approach{
	min-height: 644px;
	background: #ffffff;
	text-align: center;
	padding-bottom: 80px;
	display: block;
}

.approach h1{
	margin-top: 75px;
	margin-bottom: 60px;
	width: 100%;
}

.approach h5{
	font-size: 20px;
	padding: 0;
	margin: 10px auto 10px auto;
	line-height: 20px;
	font-family: Museo_Slab_Title_Light;
	color: #4ba1c3;
}

.approach h6{
	font-size: 15px;
	padding: 0;
	margin: 20px auto 50px auto;
	font-family: GothamBookItalic;
	color: #7e7e7e;
}

.main-banner .approach p{
	color: #7e7e7e;
	font-size: 14px;
	margin: 0;
	line-height: 20px;
	margin-bottom: 10px;
}

.approach .approach-text{
	position: absolute;
}

.approach .approach-main{
	width: 326px;
	height: 252px;
	display: block;
	margin: 0 auto;
	background-image: url("../images/approach/Graph_Frame.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.approach .approach-main .approach-circle,
.approach .approach-main .approach-square{
	display: block;
	position: absolute;
	z-index: 9;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);

	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.approach .approach-main .approach-circle:hover,
.approach .approach-main .approach-square:hover{
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.approach .approach-main .approach-circle#acquisition-trigger{
	width: 53px;
	height: 61px;
	top: 2px;
	left: 45px;
	background-image: url("../images/approach/Graph-Acquisition_Icon.png");
}

.approach .approach-main .approach-circle#frequency-trigger{
	width: 53px;
	height: 52px;
	top: 9px;
	right: 45px;
	background-image: url("../images/approach/Graph-Frequency_Icon.png");
}

.approach .approach-main .approach-circle#conversion-trigger{
	width: 54px;
	height: 53px;
	bottom: 9px;
	left: 45px;
	background-image: url("../images/approach/Graph-Conversion_Icon.png");
}

.approach .approach-main .approach-circle#advocacy-trigger{
	width: 53px;
	height: 53px;
	bottom: 9px;
	right: 45px;
	background-image: url("../images/approach/Graph-Advocacy_Icon.png");
}

.approach .approach-main .approach-circle#rewards-trigger{
	width: 53px;
	height: 58px;
	bottom: 93px;
	right: 137px;
	background-image: url("../images/approach/Graph-Rewards_Icon.png");
}

.approach .approach-main .approach-square#convenience-trigger{
	width: 214px;
	height: 20px;
	bottom: 115px;
	left: -240px;
	background-image: url("../images/approach/Graph-Convenience.png");
}

.approach .approach-main .approach-square#relevance-trigger{
	width: 166px;
	height: 20px;
	bottom: 115px;
	right: -190px;
	background-image: url("../images/approach/Graph-Relevance.png");
}

.approach #acquisition{
	width: 270px;
	top: -20px;
	left: 140px;
	display: none;
}

.approach #frequency{
	width: 250px;
	top: -20px;
	right: 140px;
	display: none;
}

.approach #convenience{
	width: 325px;
	top: 154px;
	left: 52px;
	display: none;
}

.approach #rewards{
	width: 257px;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -130px;
	display: none;
}

.approach #relevance{
	width: 293px;
	top: 154px;
	right: 75px;
	display: none;
}

.approach #conversion{
	width: 220px;
	bottom: -60px;
	left: 180px;
	display: none;
}

.approach #advocacy{
	width: 258px;
	bottom: -60px;
	right: 150px;
	display: none;
}

.approach .approach-block{
	position: relative;
}

/* Clients */
.clients{
	background: url("../images/clients-banner.png") no-repeat;
	background-size: 100% 100%;
	background-position: 50%;
	text-align: center;
	padding-bottom: 90px;
}

.clients h1{
	margin-top: 65px;
	color: #fff;
}

.clients .clients-row{
	margin: 0;
	padding: 0;
	margin-top: 50px;
}

.clients .clients-row li{
	list-style: none;
	display: inline-block;
	width: 210px;
	max-height: 80px;
	padding: 25px 35px;
	position: relative;
	vertical-align: middle;
}

.clients .clients-row img{
	vertical-align: middle;
	display: table-cell;
}

.clients .clients-row img.square-img{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	height: 100%;
	width: auto;
}

/* Services */
.services{
	min-height: 573px;
	background: #fff;
	text-align: center;
	padding-bottom: 80px;
}

.services h1{
	margin-top: 75px;
	color: #4eb0bb;
}

.services h5{
	margin-top: 50px;
	margin-bottom: 20px;
}

.services .service-list{
	display: block;
	padding: 0;
	margin: 80px 0 0 0;
}

.services .service-list li{
	display: inline-block;
	list-style: none;
	text-align: center;
	vertical-align: top;
}

.services .service-list li:not(:first-child){
	margin-left: -24px;
}

.services .service-list li .circle{
	width: 173px;
	height: 173px;
	background-size: 100% 100%;
	display: block;
	cursor: default;

	/*-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;*/
}

.services .service-list li .circle:hover{
	/*-webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
    /*transform: scale(1.1);*/
}

.services .service-list li h4{
	margin: 40px auto;
	width: 120px;
}

.services .support-list{
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 10px;
	text-align: left;
}

.services .support-list:last-child{
	margin-left: 7px;
}

.services .support-list li{
	display: inline-block;
	list-style: none;
	margin-right: 25px;
	margin-bottom: 10px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
}

.services .support-list li:last-child{
	margin-right: 0;
}

.services .support-list li img{
	width: 150px;
	opacity: 0.7;
}

/* Contact */
.contact{
	background: #f4f4f4;
	padding-top: 60px;
	padding-bottom: 80px;
}

.map,
.footer-logo{
	width: 211px;
	margin-bottom: 30px;
}

.contact p{
	font-size: 16px;
	color: #656565;
	line-height: 15px;
}

.contact h2{
	margin-bottom: 25px;
	line-height: 25px;
	font-size: 19px;
}

.contact .blue-button{
	margin-top: 20px;
}

p.msg,
p.contact-msg{
	font-size: 14px;
	line-height: 20px;
	padding-top: 5px;
	height: 30px;
}

p.msg.success,
p.contact-msg.success{
	color: #4eb0bb;
}

p.msg.error,
p.msg.error{
	color: #b04964;
}

.email-block{
	position: relative;
	min-height: 50px;
	display: block;
}

#success-msg,
#success-mobile-msg{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	height: 50px;
}

#success-msg a,
#success-mobile-msg a{
	color: #4eb0bb;
	text-decoration: underline;
}

#error-msg,
#error-mobile-msg{
	min-height: 30px;
}

/* Footer */
.footer-email,
.footer-mobile-email{
	width: 270px;
	float: left;
}

.email-btn,
.email-mobile-btn{
	width: 60px;
	height: 50px;
	background: url("../images/email-btn.png") no-repeat;
	display: block;
	float: left;
	box-shadow: none;
	opacity: 0.8;
	border: none;
}

.email-btn:hover,
.email-mobile-btn:hover{
	opacity: 1;
}

.social-icons{
	display: block;
	padding: 0;
	margin: 20px 0 0 0;
}

#ajax-loader,
#ajax-mobile-loader{
	width: 16px;
	display: inline-block;
	height: auto;
	position: absolute;
	top: 20px;
	right: -15px;
	display: none;
}
