.social-icon{
	width: 24px;
	height: 24px;
	display: block;
	margin-left: 20px;
}

.facebook{
	background: url("../images/social-media-icons.png") 0 0 no-repeat;
}

.facebook:hover{
	background: url("../images/social-media-icons.png") 0 -24px no-repeat;
}

.instagram{
	background: url("../images/social-media-icons.png") -24px 0 no-repeat;
}

.instagram:hover{
	background: url("../images/social-media-icons.png") -24px -24px no-repeat;
}

.twitter{
	width: 30px;
	background: url("../images/social-media-icons.png") -48px 0 no-repeat;
}

.twitter:hover{
	background: url("../images/social-media-icons.png") -48px -24px no-repeat;
}

.loyalty{
	background: url("../images/services/1_Loyalty.png") no-repeat;
	background-size: 100% 100%;
}

.comms{
	background: url("../images/services/2_Comms.png") no-repeat;
	background-size: 100% 100%;
}

.ecommerce{
	background: url("../images/services/3_eCommerce.png") no-repeat;
	background-size: 100% 100%;
}

.apps{
	background: url("../images/services/4_Apps.png") no-repeat;
	background-size: 100% 100%;
}

.platforms{
	background: url("../images/services/5_CustomPlatforms.png") no-repeat;
	background-size: 100% 100%;
}

.integration{
	background: url("../images/services/6_Integration.png") no-repeat;
	background-size: 100% 100%;
}

.service-logos{
	position: absolute;
	bottom: 45px;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	left: 0;
}

.service-logos li{
	display: inline-block;
	list-style: none; 
	margin-left: 5px;
}

.service-logos li:first-child{
	margin-left: 0;
}

.service-logo{
	width: 39px;
	height: 39px;
	display: block;
	opacity: 0.4;
	background-size: 100% 100%;
	position: relative;
}

.detail-img{
	position: absolute;
	width: 150px;
	height: 30px;
	display: block;
	bottom: 8px;
	left: 0;
	right: 0;
	margin: auto;
}

.service-logo:hover{
	opacity: 1;
}

.service-logo.loyalty-service{
	background-image: url("../images/service_icons/Loyalty-Hover_Touch.png");
}

.service-logo.comms-service{
	background-image: url("../images/service_icons/Comms-Hover_Touch.png") ;
}

.service-logo.ecommerce-service{
	background-image: url("../images/service_icons/eCommerce-Hover_Touch.png");
}

.service-logo.platform-service{
	background-image: url("../images/service_icons/CustomPlatform-Hover_Touch.png");
}

.service-logo.integration-service{
	background-image: url("../images/service_icons/Integration-Hover_Touch.png");
}

.service-logo.app-service{
	background-image: url("../images/service_icons/Apps-Hover_Touch.png");
}

@media (max-width: 1200px) {
	.service-logo{
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 990px) {
	.service-logos{
		left: 1px;
	}

	.service-logo{
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 768px) {
	.service-logos{
		position: relative;
		margin-top: 70px;
	}

	.service-logo{
		width: 30px;
		height: 30px;
	}
}
