/* IE page */
html,body{
	padding: 0;
	margin: 0;
	display: block;
	min-height: 100%;
	overflow: scroll;
	width: 100%;
	font-family: "atrament-web",sans-serif;
	background: #f4f4f4;
}

h1{
	padding: 0;
	margin: 30px 0 50px 0;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	color: #333;
}

img{
	border: none;
}

a{
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

a:hover{
	text-decoration: none;
	color: #fff;
}

body{
	overflow-x:hidden;
}

.logo{
	position: absolute;
	left: 0;
	top: 20px;
	width: 206px;
	height: 31px;
}

.banner-content{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.browser{
	text-align: center;
	margin-bottom: 160px;
	position: relative;
}

.browser-wrap{
	margin-top: 100px;
}

.browser ul{
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.browser ul li{
	display: inline-block;
	list-style: none;
	margin-left: 20px;
	text-align: center;
}

.browser ul li a.browser-icon{
	display: block;
	width: 128px;
	height: 128px;
}