@media (max-width: 1200px) {
	.container{
		width: 940px;
	}

	h1{
		font-size: 36px;
	}

	h3{
		font-size: 20px;
	}

	.main-banner h1{
		margin-top: 102px;
	}

	.main-banner p {
		margin-top: 22px;
		margin-bottom: 34px;
	}

	.imac {
		width: 260px;
		height: 209px;
		margin-top: 43px;
	}

	.iphone-imac{
		width: 279px !important;
		height: auto;
	}

	.banner-wrap{
		height: 470px;
	}

	#main-nav li:first-child{
		margin-left: 100px;
	}

	.main-banner-image{
		min-height: 478px;
	}

	.custom-buttom {
		font-size: 16px;
		padding: 10px 20px 10px 20px;
	}

	.left-arrow {
		top: 290px;
		left: -60px;
	}

	.right-arrow {
		top: 290px;
		right: -60px;
	}

	.cases p{
		font-size: 14px;
	}

  .main-banner .about h1,
  .main-banner .clients h1,
  .main-banner .approach h1{
		margin-top: 62px;
	}

	.clients{
		height: inherit;
		background-size: auto 100%;
	}

	.clients .clients-row li{
		width: 215px;
	}

	.services .service-list li .circle{
		width: 153px;
		height: 153px;
	}

	.services .support-list li{
		margin-right: 50px;
	}

	.services .support-list{
		text-align: center;
	}

	.footer-email{
		width: 220px;
	}

	.email-wrap h1{
		margin-top: 300px !important;
	}

	.email-page .main-banner{
		height: auto;
	}

	.approach #acquisition{
		width: 270px;
		top: -20px;
		left: 70px;
	}

	.approach #frequency{
		width: 250px;
		top: -20px;
		right: 70px;
	}

	.approach #convenience{
		width: 315px;
		top: 155px;
		left: -31px;
	}

	.approach #rewards{
		width: 257px;
		left: 0;
		right: 0;
		margin: auto;
		bottom: -130px;
	}

	.approach #relevance{
		width: 293px;
		top: 155px;
		right: -8px;
	}

	.approach #conversion{
		width: 220px;
		bottom: -60px;
		left: 120px;
	}

	.approach #advocacy{
		width: 258px;
		bottom: -60px;
		right: 60px;
	}
}

@media (max-width: 990px) {
	h1{
		font-size: 27px;
	}

	h2{
		font-size: 22px;
	}

	h3{
		font-size: 17px;
	}

	h4{
		font-size: 16px;
	}

	.main-banner-image{
		min-height: 400px;
	}

	.banner-wrap{
		height: 400px;
	}

	.main-banner p {
		margin-top: 7px;
		margin-bottom: 13px;
		font-size: 13px;
	}

	.custom-buttom {
		font-size: 13px;
		padding: 10px 20px 10px 20px;
	}

	.services .service-list li .circle{
		width: 133px;
		height: 133px;
	}

	.cases{
		height: 555px;
	}

	.cases p{
		font-size: 13px;
	}

	.imac{
		width: 220px;
		height: 177px;
		margin-top: 78px;
	}

	.iphone-imac{
		width: 219px !important;
		height: 182px !important;
		margin-top: 72px !important;
	}

	.ipad{
		width: 220px;
		height: 168px;
		margin-top: 84px;
	}

	.about p{
		font-size: 13px;
		width: 220px;
	}

	.footer-email{
		width: 160px;
	}

	.nav-control{
		width: 32px;
		height: 32px;
		background-size: 100% 100%;
	}

	.nav-control:hover{
		width: 32px;
		height: 32px;
		background-size: 100% 100%;
	}

	.left-arrow{
		top: 550px;
		left: 280px;
		background: url("../images/left-arrow.png") no-repeat;
		background-size: 100% 100%;
	}

	.left-arrow:hover{
		background: url("../images/left-arrow-hover.png") no-repeat;
		background-size: 100% 100%;
	}

	.right-arrow{
		top: 550px;
		right: 280px;
		background: url("../images/right-arrow.png") no-repeat;
		background-size: 100% 100%;
	}

	.right-arrow:hover{
		background: url("../images/right-arrow-hover.png") no-repeat;
		background-size: 100% 100%;
	}

	#main-nav li:first-child{
		margin-left: 0px;
	}

	#main-nav li a{
		margin-right: 35px;
	}

	.services .support-list li{
		margin-right: 60px;
	}

	.email-wrap h1{
		margin-top: 200px !important;
		font-size: 40px;
	}

	.approach .approach-main .approach-square#convenience-trigger{
		width: 160px;
		height: 15px;
		bottom: 119px;
		left: -175px;
	}

	.approach .approach-main .approach-square#relevance-trigger{
		width: 125px;
		height: 15px;
		bottom: 118px;
		right: -140px;
	}

	.approach #acquisition{
		width: 270px;
		top: -20px;
		left: -30px;
	}

	.approach #frequency{
		width: 250px;
		top: -20px;
		right: -20px;
	}

	.approach #convenience{
		width: 285px;
		top: 148px;
		left: -80px;
	}

	.approach #rewards{
		width: 257px;
		left: 0;
		right: 0;
		margin: auto;
		bottom: -130px;
	}

	.approach #relevance{
		width: 250px;
		top: 150px;
		right: -40px;
	}

	.approach #conversion{
		width: 220px;
		bottom: -60px;
		left: 20px;
	}

	.approach #advocacy{
		width: 258px;
		bottom: -60px;
		right: -30px;
	}
}

@media (max-width: 769px) {
	.mobile-carousel{
		display: block;
	}

	.desktop-carousel{
		display: none;
	}

	.approach{
		display: none;
	}

	.container{
		width: 100%;
	}

	h3{
		font-size: 27px;
	}

	.navbar-default .navbar-toggle .icon-bar.blue-burger{
		background: #4eb0bb;
	}

	.navbar{
		height: 220px;
	}

	#main-nav {
		text-align: center;
		width: 100%;
		margin: 10px 0 10px 0;
	}

	#main-nav li {
		display: block;
	}

	.container>.navbar-header, .container>.navbar-collapse{
		height: auto;
		padding: 0;
		margin: 0;
		position: absolute;
		left: 0;
		right: 0;
		background: rgba(78,175,186,0.9);
		z-index: 10;
	}

	#main-nav li a{
		margin-right: 0;
		font-size: 20px;
		height: 50px;
		line-height: 50px;
	}

	.menu-trigger{
		height: auto;
	}

	#main-nav li a.active-link{
		color: #fff;
	}

	.banner-wrap{
		height: 470px;
	}

	.main-banner h1{
		margin-top: 151px;
		font-size: 32px;
	}

	.main-banner .banner-wrap h1{
		margin-top: 90px;
		margin-bottom: 60px;
	}

	.main-banner p{
		font-size: 20px;
		margin-bottom: 30px;
		margin-top: 20px;
	}

	.cases{
		height: 480px !important;
		padding-bottom: 10px;
	}

	.carousel-inner p {
		width: 70%;
		margin: 20px auto 30px auto;
	}

	.custom-buttom {
		font-size: 20px;
		padding: 20px 30px 20px 30px;
		color: #fff;
		background: #4eb0bb;
		border: none;
	}

	.main-banner-image{
		width: auto;
		height: inherit;
		margin-left: -132px;
		height: 402px !important;
	}

	.mobile-center{
		text-align: center;
	}

	.about .imageWrap{
		margin-top: 60px;
	}

	.about h3{
		margin-top: 20px;
	}

	.main-banner p{
		font-size: 16px;
	}

	.about p{
		width: 90%;
	}

	.main-banner .services h1{
		margin-top: 60px;
	}

	.clients{
		padding-bottom: 40px;
	}

	.cases{
		min-height: 475px;
		height: auto;
	}

	.contact{
		text-align: center;
	}

	.nav-control{
		width: 56px;
		height: 56px;
		background-size: 100% 100%;
	}

	.nav-control:hover,
	.nav-control:active{
		width: 56px;
		height: 56px;
		background-size: 100% 100%;
	}

	.left-arrow{
		top: 280px;
		left: 20px;
	}

	.right-arrow{
		top: 280px;
		right: 20px;
	}

	.services {
		min-height: 0;
		padding-bottom: 10px;
	}

	.services .service-list li{
		display: block;
		text-align: center;
		vertical-align: top;
		margin: 0 auto;
		margin-top: -30px;
	}

	.services .service-list li .circle {
		margin: 0 auto;
		display: inline-block;
	}

	.services .service-list li h4 {
		margin: 0 auto;
		width: 200px;
		display: inline-block;
		vertical-align: middle;
		margin-top: -120px;
		text-align: left;
		margin-left: 30px;
	}

	.services .support-list {
		text-align: center;
	}

	.services .support-list li{
		display: inline-block;
		list-style: none;
		margin-right: 0;
	}

	.services .support-list li img{
		width: 130px;
		margin-bottom: 30px;
	}

	.services .service-list li:not(:first-child) {
		margin-left: 0; 
	}

	.services h5{
		margin-top: 50px;
	}

	.footer-logo{
		width: 209px;
	}

	.contact p {
		font-size: 20px;
		line-height: 22px;
	}

	.mobile-mail{
		text-align: center;
		background: #f4f4f4;
		padding: 40px 0 40px 0;
	}

	.contact{
		background: #fff;
	}

	.contact-info{
		margin-top: 60px;
	}

	.contact h2{
		width: 70%;
		text-align: center;
		margin: 0 auto 25px auto;
	}

	.footer-mobile-email{
		width: 60%;
	}

	#xero{
		width: 90px !important;
	}

	/* About */
	.about-page .team-list li{
		margin-right: 0;
	}

	.approach .approach-text {
		position: relative;
		display: block !important;
		text-align: center;
		width: 100% !important;
		top: inherit !important;
		left: inherit !important;
		right: inherit !important;
		bottom: inherit !important;
		margin: 50px auto 0 auto !important;
	}
}

@media (max-width: 480px) {
	.header-logo-colorful{
		left: 15px;
		top: 3px;
	}

	.main-banner h1{
		font-size: 42px;
	}

	.main-banner h1.home-title{
		font-size: 28px;
	}

	.main-banner p{
		font-size: 14px;
	}

	.about p{
		font-size: 14px;
	}

	.about .imageWrap{
		margin-top: 30px;
	}

	.banner-wrap {
		height: 470px;
	}

	.nav-control{
		width: 32px;
		height: 32px;
		background-size: 100% 100%;
	}

	.nav-control:hover,
	.nav-control:active{
		width: 32px;
		height: 32px;
		background-size: 100% 100%;
	}

  .header-logo{
  	width: 146px;
  	height: 22px;
  	background-size: 100% 100%;
  	margin-top: 33px;
	}

	.header-logo-colorful{
		width: 146px;
		height: 22px;
	}

	.cases{
		height: 540px !important;
	}

	.project-block{
		height: 540px !important;
		height: auto;
	}

	#cases-carousel{
		height: 540px !important;
	}

	.left-arrow{
		top: 60%;
		left: 0px;
	}

	.right-arrow{
		top: 60%;
		right: 0px;
	}

	h3{
		font-size: 23px;
	}

	.carousel-inner p{
		line-height: 20px;
		margin: 10px auto 30px auto;
	}

	.main-banner .clients h1 {
		margin-top: 62px;
		margin-bottom: 30px;
		font-size: 42px;
	}

	.clients .clients-row{
		margin-top: 30px;
	}

	.clients .clients-row li{
		width: 45%;
		max-height: 70px;
		padding: 25px 10px;
	}

	.clients .clients-row img{
		width: 100%;
	}

	.clients .clients-row img.square-img{
		width: inherit;
		height: auto;
	}

	.services .service-list li{
		overflow: hidden;
	}

	.services .service-list li .circle{
		float: left;
	}

	.services .service-list li h4{
		margin-top: -120px;
		margin-left:120px;
	}

	.contact h2{
		margin-bottom: 25px;
		line-height: 25px;
		font-size: 23px;
		width: 80%;
		text-align: center;
		margin: 0 auto 25px auto;
	}

	.services .support-list li{
		display: inline-block;
		width: 45%;
	}

	.services .support-list li img{
		width: 80%;
	}

	.iphone-imac.politix{
		width: 299px;
		height: 233px;
		margin-top: 22px;
		background: url("../images/home_cases/2_Politix_Web.png") no-repeat;
		background-size: 90% 90%;
	}

	.iphone-imac.loreal{
		background: url("../images/home_cases/7_SalonLocator.png") no-repeat;
		background-size: 90% 90%;
	}

	.services .service-list li .circle{
		width: 110px;
		height: 110px;
	}

	.services .support-list:last-child{
		margin-left: 0;
		margin-top: 30px;
	}

	.email-page .main-banner{
		height: 600px;
		overflow: hidden;
	}

	.email-page .main-banner img{
		height: 100%;
	}

	#ajax-mobile-loader{
		right: 15px;
	}

	#success-msg, #success-mobile-msg{
		font-size: 16px;
	}
}
