.services-page .main-banner{
	height: 349px;
	overflow: hidden;
	position: relative;
}

.services-page{
	position: relative;
	background: #f3f3f3;
	padding-bottom: 150px;
}

.services-wrap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.services-header{
	text-align: center;
}

.services-icon{
	margin-top: 100px;
	width: inherit;
}

.services-wrap h1{
	text-align: center;
	font-size: 80px;
	color: #fff;
	margin-top: 20px;
}

.services-page h2{
	margin-bottom: 10px;
	margin-top: 60px;
	color: #fa9f4d;
}

.services-page p{
	font-size: 16px;
	line-height: 22px;
	color: #7e7e7e;
}

.services-nav{
	width: 59px;
	height: 54px;
	display: inline-block;
	position: absolute;
}

.services-nav.left-nav{
	background: url("../images/services-left.png") no-repeat;
	right: 60px;
	bottom: 0;
}

.services-nav.right-nav{
	background: url("../images/services-right.png") no-repeat;
	right: 0;
	bottom: 0;
}

.services-page .services-intro{
	padding: 60px 0;
}

.services-page .services-details{
	background: #fff;
	min-height: 350px;
	padding: 0 0 60px 0;
}

.services-page .ecommerce-sales{
	padding: 0;
	margin: 0;
	width: 100%;
	margin-top: 50px;
}

.services-page .ecommerce-sales li{
	list-style: none;
	display: block;
	margin-bottom: 30px;
	height: 50px;
	overflow: hidden;
}

.services-page .ecommerce-sales li .data-year{
	line-height: 50px;
	color: #fa9f4d;
	font-size: 16px;
	float: left;
	display: inline-block;
}

.services-page .ecommerce-sales li .data-bar{
	position: relative;
	margin-left: 20px;
	display: inline-block;
	height: 50px;
	width: 400px;
	background: #f2f4f6;
	padding: 0 0 0 20px;
}

.services-page .ecommerce-sales li .data-bar .data-sales{
	line-height: 50px;
	position: absolute;
	color: #fff;
	font-family: Museo_Slab_Case_Title;
	z-index: 2;
}

.services-page .ecommerce-sales li .data-bar .data-progress{
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	height: 50px;
	background: #fa9f4d;
	width: 0;
}

.services-page .ecommerce-sales li .data-bar .data-progress.progress1{
	-webkit-transition: width 0.5s linear;
	-moz-transition: width 0.5s linear;
		transition: width 0.5s linear;
}

.services-page .ecommerce-sales li .data-bar .data-progress.progress2{
	-webkit-transition: width 0.5s linear 0.4s;
	-moz-transition: width 0.5s linear 0.4s;
		transition: width 0.5s linear 0.4s;
}

.services-page .ecommerce-sales li .data-bar .data-progress.progress3{
	-webkit-transition: width 0.5s linear 0.8s;
	-moz-transition: width 0.5s linear 0.8s;
		transition: width 0.5s linear 0.8s;
}

.services-page .ecommerce-sales li .data-bar .data-progress.progress4{
	-webkit-transition: width 0.5s linear 1.2s;
	-moz-transition: width 0.5s linear 1.2s;
		transition: width 0.5s linear 1.2s;
}

.services-page .quotes{
	color: #fa9f4d;
	font-family: Museo_Slab_Service_italic;
	font-size: 21px;
	line-height: 30px;
	margin-top: 30px;
	border-left: 3px solid #fa9f4d;
	padding-left: 20px;
}

.services-page .ratio-block{
	text-align: center;
}

.ratio-image{
	width: 79px;
	margin-top: 60px;
}

span.big-number{
	font-size: 99px;
	color: #fa9f4d;
	display: block;
	margin-top: 120px;
}

.services-page .ratio-block p{
	text-align: left;
}