.work-page .main-banner{
	height: 349px;
	overflow: hidden;
	position: relative;
}

.work-page{
	position: relative;
	background: #f3f3f3;
}

.work-wrap{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.work-header{
	text-align: center;
}

.work-wrap h1{
	text-align: center;
	font-size: 80px;
	color: #ffffff;
}

.work-page .main-content{
	background: #fff;
	padding-bottom: 20px;
}

.work-page .work-link{
	width: 940px;
	height: 364px;
	display: block;
	margin: 20px auto 0 auto;
	position: relative;
	opacity: 0.8;
	box-shadow: none;
	overflow: hidden;
}

.work-page .work-link:hover{
	opacity: 1;
	box-shadow: 0 0 15px 1px #bbb;
}

.work-page .work-link.politix-link{
	background: url("../images/work/politix-link.png") no-repeat;
}

.work-page .work-link.cottonon-link{
	background: url("../images/work/cottonon-link.png") no-repeat;
}

.work-page .work-link .work-caption{
	display: block;
	position: absolute;
	width: 410px;
	height: 110px;
	background: rgba(0,0,0,0.8);
	bottom: -110px;
	left: 0;
	color: #fff;
	padding: 27px;

	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	transition:all 0.2s linear;
}

.work-page .work-link .work-caption.show-caption{
	bottom: 0;
}

.work-page .work-link .work-caption span.work-name{
	display: block;
	font-size: 24px;
	font-family: Museo_Slab_Title;
}

.work-page .work-link .work-caption span.work-category{
	display: block;
	font-size: 20px;
	font-family: Museo_Slab_Title_italic;
}